[VCockpit01]
size_mm=1280,800
pixel_size=1280,800
texture=$AS1000_PFD
background_color=42,42,40
htmlgauge00=NavSystems/WTG3000V2/PFD/WTG3000_PFD.html?Index=1, 0,0,1280,800

[VCockpit02]
size_mm=1280,800
pixel_size=1280,800
texture=$AS1000_MFD
background_color=42,42,40
htmlgauge00=NavSystems/WTG3000V2/MFD/WTG3000_MFD.html, 0,0,1280,800
htmlgauge01=HA420_Systems/Eicas/gauges_ha420_pfd3.html, 0,0,379,1092

[Vcockpit03]
Background_color=42,42,40
size_mm=512,512
pixel_size=512,512
texture=$HA420_EADI
htmlgauge00=HA420_Systems/ISIS/HJ_ISIS.html, 0,0,512,512

[Vcockpit04]
Background_color=42,42,40
size_mm=480,640
pixel_size=480,640
;[REMOVED]visible=1
texture=$HA420_CDU2
htmlgauge00=NavSystems/WTG3000V2/GTC/WTG3000_GTC.html?Index=2, 0,0,480,640

[Vcockpit05]
Background_color=42,42,40
size_mm=480,640
pixel_size=480,640
;[REMOVED]visible=1
texture=$HA420_CDU1
htmlgauge00=NavSystems/WTG3000V2/GTC/WTG3000_GTC.html?Index=1, 0,0,480,640

[VCockpit06]
size_mm=1280,800
pixel_size=1280,800
texture=$AS1000_PFD2
background_color=42,42,40
htmlgauge00=NavSystems/WTG3000V2/PFD/WTG3000_PFD.html?Index=2, 0,0,1280,800

;[REMOVED][Vcockpit07]
;[REMOVED]background_color=42,42,40
;[REMOVED]visible=1
;[REMOVED]texture=$StartScr
;[REMOVED]pixel_size=1024,1024
;[REMOVED]size_mm=1024,1024
;[REMOVED]htmlgauge00=HA420_Systems/ScreenCover/screenCover.html, 0,0,1024,1024

[VCockpit07]
Background_color=42,42,40
visible=1
texture=$Eicas
pixel_size=379,1092
htmlgauge00=HA420_Systems/Eicas/gauges_ha420_pfd3.html, 0,0,100,100

[Vcockpit08]
size_mm=1,1
pixel_size=1,1
texture=NO_TEXTURE
htmlgauge00=HA420_Systems/EFB/VTX_EFB_MOTION_CONTROLLER.html, 0, 0, 1, 1


[Vcockpit09]
size_mm=1024, 768
pixel_size=1024, 768
texture=$screen_tablet
htmlgauge00=HA420_Systems/EFB/VTX_EFB.html, 0, 0, 1024, 768


[VPainting01]
size_mm				= 512,512
texture				= $RegistrationNumberInterior
location 			= interior
painting00=Registration/Registration.html?font_color=white,	0, 0, 512, 512